.flex1circle {
    animation: rotate 45s linear infinite;
    
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.flex1arrow1 img:hover {
    transform: translateX(-5px);
}

.flex1arrow2 img:hover {
    transform: translateX(5px);
}

#result{
    animation: animateall 2.5s;
    animation-delay: 0.02s;
}
@keyframes animateall
{
    0%{
       
        opacity: 0;
    }
    100%{
       
        opacity: 1;
    }
}

.headingl2{
    animation: animatepark 0.7s;
    animation-delay: 0.2s;
    
}

@keyframes animatepark{
    from{
        transform: translateY(32px);
    }
    to{
        transform: translateY(0px);
    }
}

.headingl1 , .line1 , .line3{
    animation: animatetxt 0.5s;
    animation-delay: 0.2s;
}

@keyframes animatetxt{
    from{
        transform: translateY(6px);
    }
    to{
        transform: translateY(0px);
    }
}

.flex1img img{
    animation: animateimage 0.7s;
    animation-delay: 0.2s;
    transform-origin: left top;
   
}
@keyframes animateimage{
    from{
        transform: rotate(10deg);
    }
    to{
        transform: rotate(0deg);
        }
}

.flex2heading{
    animation: animaterail 0.4s;
    animation-delay: 0.2s;
    
}


@keyframes animaterail{
    0%{
        transform: translateX(-45px);
    }

    100%{
        transform: translateX(0);
    }
}

.flex2head1{
    animation: animatevisit 0.8s;
    animation-delay: 0.2s;
    
}
@keyframes animatevisit{
    0%{
        transform: translateX(-5px);
    }

    100%{
        transform: translateX(0);
    }
}
